{% extends 'base.html' %}

{% block head %}
<title>Add Question</title>
{% endblock %}


{% block body %}
<div class="container">
    <form method="post" action="">
      {% csrf_token %}
      <label for="id_name">QUESTION:</label>{{ question.name }}
      {{ vendor.as_p }}
      {{ choice.as_p }}
      {{ error }}
      <p>
	<input type = "submit" name="add" value="ADD A CHOICE"/>
	<input type = "submit" name="del" value="DELETE A CHOICE"/>
      </p>
      
      <input type = "submit" name="sub" value="SUBMIT"/>
    </form>
</div>
{% endblock %} 


